.list-card {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-card {
    /* display: flex; */
    width: 400px;
    height: 500px;
}
.card-image {
    height:300px;
}

.card-image img {
    height: 100%;
}

